
.clients__slide img {
    opacity: .4;
    filter: invert(90);
}


#intro {
    padding-bottom: 0;
}


@media screen and (max-width: 400px) {

    .btn {
        line-height: 2;
        white-space: normal;
    }
        
}    